html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.thirty-three {
  width: 33.33%;
  float: left;
}

.blue {
  background: blue;
  height: 100%;
}

.teal {
  background: teal;
  height: 100%;
}

.green {
  background: #bada55;
  height: 80%;
}

.red {
  background: red;
  height: 20%;
  color: #fff;
  box-sizing: border-box;
  padding: 40px;
  font-size: 1.2em;
}